# Environment & secrets
.env

# Database volumes
postgres/
postgres_data/

# Python caches
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/

# Virtual envs
venv/
env/
.venv/
movieNight/

# Git
.git/
.gitignore
.github/

# Docker (prevent recursive context)
Dockerfile
compose*.yaml
.dockerignore

# Dev-only files
test/
TODO.md
README.md
LICENSE.md
*.txt
!requirements.txt
!requirements-dev.txt
